*.log
*.bak
*.o
*.obj
*.tmp
*.tlog
*.pdb
*.db
*.pch
*.plist
*.profdata
*.profraw
*.vsidx
*.cache
*.binlog
style.css
index.html
clang.cmds.txt
control.js

.vs/
.vscode/
__pycache__/
_pytest_cache/
coverage/
bin/
obj/
debug/
